.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 30rem;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
    /* scroll view */
    padding-top: 3rem;
  }
  /* left side */
  .awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
  }
  
  .awesome > :nth-child(1) {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: orange;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(3) {
    color: gray;
    font-size: 14px;
    margin-top: 1rem;
  }
  .s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  /* right sided */
  .cards1 {
    position: relative;
    padding-left:2vh;
  }
  .cards1 > * {
    position: relative;
    transform: scale(0.65);
  }
  .cards2 {
    position: relative;
  
    top: -228px;
  left: 458px;
  }
  .cards2 > * {
    position: relative;
    transform: scale(0.65);
  }
  
  /* blur */
  .s-blur2 {
    left: 14rem;
    top: 8rem;
  }
  
  .s-blur1 {
    top: 13rem;
    left: -18rem;
  }
  
  @media screen and (max-width: 480px) {
    .services {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 86vh;
      padding: 0;
    }
  
    .cards{
      display: flex;
      flex-direction: column;
      gap: 25rem;
      justify-content: center;
      border: 10px;
      width: 40vh;
      padding: 25px;
      padding-left: 62px;
    }
   
    .awesome{
        padding: 62px;
    }
   .cards2{
    position: relative;
    top: 276px;
    left: 0;
   }
   .three{
    position: relative;
  top: -124px;
  
  left: -94px;
   }
   .two{
    position: relative;
  top: -124px;
  left: 72px;
   }
   .one{
    position: relative;
  top: 75px;
  right: 93px;
   }
   .four{
    position: relative;
  
  bottom: 102vh;
  left: 88px;
   }
   .five{
    position: relative;
  
  bottom: 77vh;
  right: 76px;
   }
   .six{
    position: relative;
  bottom: 77vh;
  left: 90px;
   }
   .awesome span:nth-of-type(1) {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
  }
  .awesome span:nth-of-type(2){
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -30px;
  left: 134px;
  text-decoration: underline;
  }
  }
  